*{outline:none}
html{height:100%; overflow:auto; overflow-y:scroll}
body{position:relative; height:100%; margin:0px; color:#000; font-family:Arial; font-size:14px; line-height:1.4}
form{margin:0px}
img{border:0px}
table{border-collapse:collapse}

a{color:#DD0000}
a:hover{text-decoration:none}
a.js{border-bottom:1px dotted;text-decoration: none !important}

h1, h2, h3{}

.c{clear:both}

.module-base{margin-bottom:15px}


